.inform_block{
    background-color: #f8f9fa;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 8px;
    padding: 10px;
		margin-bottom: 20px;
}
.cool{
	background-color: red;
}