.advice {
    text-decoration:underline;
    color: #480ca8;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-left: 125px;
}
.advice_text {
	margin-bottom: 20px;
	margin-right: 40px;
}

.advice_text li {
    list-style-type: circle;
    margin-left: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}